/* #region general */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

}



* a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: black;
}

* a:hover {
    transition: all 0.3s ease-in-out;
    color: #30CD8A;
}

ul{
   list-style: none; 
}

.grosTitreGris{
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    color: #423B73;
    line-height: 40px;
}

.titreVert{
    color: #30CD8A;
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
}

.grosTitreVert{
    color: #30CD8A;
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
    font-size: 38px;
}

.titreFooter{
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    padding: 20px 0px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

.titreContact{
    color: white;
    text-align: center;
    padding: 0px 0px 30px 0px;
    font-size: 38px;
    font-family: "Oswald", sans-serif;
}

.titreRouge{
    color: #E34E67;
    font-family: "Pacifico", sans-serif;
    font-size: 23px;
    font-weight: 400;
}

.btnCTA{
    border: solid #30CD8A 1px ;
    background-color: #30CD8A;
    border-radius: 10px;
    padding: 14px 31px;
    color: white;
}
.btnCTA:hover{
    background-color: white;
    color: #30CD8A;   
}

.btnContact{
    border: solid #30CD8A 1px ;
    border-radius: 10px;
    padding: 14px 31px;
    color: #30CD8A;
}
.btnContact:hover{
    background-color: #30CD8A;
    color: white;   
}

/* #endregion general */

/* #region header */

#lienAccueil{
    color: #30CD8A;
}

header img{
    max-width: 268px;
}

header{
    max-width: 1440px;    
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 40px 15px;
    margin: auto;
    flex-wrap: wrap;
    align-items:center;
}

header ul{
    display: flex;
    gap: 40px;
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 15px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
border-radius: 15px;

}

.dropdown:hover .dropdown-content {
  display: block;
}


/* #endregion header */

/* #region footer */

footer{
    color: white;
    background-color: #1E1D31;
}

footer section a {
    color: white;
    display: flex;
    padding: 10px 0px;
}

footer section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    max-width: 1440px;
    gap: 60px;
}

footer article{
    max-width: 360px;
    padding: 30px 0px;

}

#footerDiv{
    background-color: white;
    display: flex;
    justify-content: center;
}

#footerDiv p{
    padding: 20px 0px;
    color: #1E1D31;
}

/* #endregion footer */



/* #region main */


/* section 1 */
main{
    padding: 80px 0px;
}

#section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: auto;
    align-items: center;
    padding: 80px 0px;
}

#section1 article{
    max-width: 500px;
}

#section1 p{
    padding: 20px 0px 40px 0px;
}

#section1 img{
    max-width: 700px;
}

#section1 a{
    margin: 0px 30px 0px 0px;

}


/* section 2 */
#section2{
    padding: 60px 0px;
    background-color: #1E1D31;
    color: white;
}

#section2 article{
    max-width: 630px;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    padding: 40px 0px;
}

#divSection2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: auto;
}

#section2 a{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}

#section2 h3{
    padding: 20px 0px;
}

#section2 img{
    justify-content: left;
}


/* section3 */
#section3{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    max-width: 1440px;
    padding: 100px 0px;  
}

#section3 p{
    padding: 30px 0px;
    font-size: 16px;
}

#divSection3Part1{
    max-width: 650px;
    padding-bottom: 50px;
}


#divSection3Part2 h2{
    font-size: 24px;
}

#section3 #pBackground{
    background-color: #1E1D31;
    padding: 40px 20px;
    border-radius: 24px;
    color: white;
    text-align: left;
}
#divSection3Part2 p{
    color: #30CD8A;
    padding: 5px 0px 20px 0px;
}

#divSection3Part2{
    display: flex;
    padding: 30px;

}

#divSection3Part2 article {
    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;
    padding: 20px 0px;
}

#divSection3Part2 div{
    padding: 0px 20px;
}

/* section 4 */
#section4 {
    max-width: 1440px;
    color: white;
    margin: auto;
}

#section4>div{
text-align: center;
max-width: 650px;
margin: auto;
padding-bottom: 200px;
}

#listeDiv{
    background-color: #1E1D31;
    border-radius: 15px 0px 0px 15px;
    padding: 40px 30px;
}

#section4 article ul {
    padding:0px;
}

#section4 li{
    padding: 5px 0px;
}
#section4 li::before{
    content: url("../img/checkmark.png");margin-right: 6px;
}

#section4 h3{
    font-size: 38px;
    padding: 10px 0px;
}


#section4 article{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
}

#divBTN {
    position: relative;
    top: 60px;
    text-align: center;
}

#section4 #articleMiroir{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 100px auto;

}

#listeDivMiroir{
     border-radius: 0px 15px 15px 0px;
     background-color: #1E1D31;
     padding: 40px 30px;
     z-index: -1;
}


#section5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: 200px auto;
    gap: 80px;
}

#section5>div{
    align-content: center;
}

#section5  form{
    background-color: #1E1D31;
    color: white;
    padding: 50px;
    border-radius: 25px;    
}

#section5 #divForm{
    display: flex;
    margin: auto;
}

#divForm h2{
    color: white;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

#section5 article h2{
    padding-bottom: 20px;
}

#section5 input[type=text], select, textarea{

    width: -webkit-fill-available;
    background-color: #1E1D31;
    border: solid #30CD8A 1px;
    font-size: 16px;
    padding: 10px 0px;
    padding-left: 15px;
    margin-bottom: 20px;
    color: WHITE;
}




#section5 button{
    display: block;
    width: fit-content;
    padding: 10px 60px; 
}

#buttonDiv{
    padding: 30px 0px;
}

#section5 button:hover{
    background-color: #E34E67;
    border-color: #E34E67;
    color: white;
    transition: all ease-in-out 0.2s;
}

#deuxInputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#section5 article{
    max-width: 480px;
}

::placeholder{
    color: white;
}
/* #endregion main */


/* #region RESPONSIVE */

/* responsive tablet */

@media screen and (max-width:1024px){
    header nav{
        display: none;
    }

    #section1 {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    justify-content: center;
    }

    #section1 img{
        width: 80%;
        padding: 80px 0px;
    }

    #divSection2 {
        grid-template-columns: 1fr;
        padding: 0px 30px;
    }

    #divSection3Part2 {
        flex-wrap: wrap;
    }

    #divSection3Part2 article {
        padding-top: 60px;
    }

    #section4 article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 25px;
    }

    #section4 #articleMiroir {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    }

    #listeDiv{
        border-radius: 15px;
    }

    #section5 {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    }

    footer section {
        grid-template-columns: 1fr 1fr;
        margin: auto 40px;
    }

    

}

    /* responsive tablet */
@media screen and (max-width:720px){

    #section2 article{
        grid-template-columns: 1fr;
        text-align: center;
        
    }

    #divSection3Part2 div {
    padding: 0px;
    }
    #divSection3Part2 {
    padding: 10px;
    }

    #divSection3Part2 article {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 20px 0px;
    justify-content: center;
    }

    #section4 h3 {
    font-size: 28px;
    }

    #section4 article{
        flex-wrap: nowrap;
    }

    #divBTN a{
        font-size: 14px;
    }

    #articleMiroir h3 {
    font-size: 28px;
    }

    #section4 #articleMiroir  {
        flex-wrap: nowrap;
    }

    #divBTN #aMiroir{
        font-size: 12px;
    }

    #listeDivMiroir{
        border-radius: 15px;
    }

    #section4 img{
        width: 80%;
    }

    footer section{
        grid-template-columns: 1fr;
    }

    #section1 a {
    margin: 0px;
    }

    #deuxInputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    }

    #section5 {
        margin: 100px 5px;
    }

    #section5 form {
        padding: 20px;
    }

    #section5 input[type=text],
    #section5 select,
    #section5 textarea {
        width: 100%;
        box-sizing: border-box;
    }

    #section5 form label {
        display: block;
        font-size: 12px;
        line-height: 1.4;
    }

    #section5 input[type="checkbox"] {
        margin-bottom: 10px;
    }

    #section5 button {
        width: 100%;
        padding: 12px;
    }

    #divForm h2{
        font-size: 33px;
    }

}
/* #endregion RESPONSIVE */

